services:
  frontend:
    build: 
      context: .
      no_cache: true
    ports:
      - "5173:5173"
    environment:
      - VITE_AUTH_API_URL=http://localhost:8001
      - VITE_HR_API_URL=http://localhost:8002
      - VITE_AI_API_URL=http://localhost:8003
    command: npm run dev
