spring:
  application:
    name: ai-service
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.batch.BatchAutoConfiguration

server:
  port: 8003

management:
  health:
    db:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,info

huggingface:
  api:
    url: https://router.huggingface.co/v1/chat/completions
    model: meta-llama/Llama-3.1-8B-Instruct
    key: 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
